.highlights-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.highlights > h2 {
  text-align: start;
  font-family: "Product Sans", sans-serif;
}
@media only screen and (max-width: 780px) {
  .highlights-container {
    justify-content: center;
  }
}
