.daily-forecast {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
@media only screen and (max-width: 780px) {
  .daily-forecast {
    width: 328px;
    margin: auto;
    padding: 1rem 0rem;
    gap: 2rem;
    min-height: calc(100vh - 20px);
  }
}
