body {
  color: #e7e7eb;
  margin: 0;
  font-family: "Product Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-dark: #100e1d;
  --background-normal: #1e213a;
  --font-dimmed: #a09fb1;
  background-color: var(--background-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
